<title>Yogesh Rathod NodeJS App | <%- (Pagetitle) %> </title>
<!--Import Google Icon Font-->
<!-- <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
<!-- Bootstrap Compiled and minified CSS -->
<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" /> -->
<link rel="stylesheet" href="/css/vendor/bootstrap.min.css" />
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> -->
<!-- <script src="https://use.fontawesome.com/522879f289.js"></script> -->

<link rel="stylesheet" type="text/css" href="/css/main.css" />
