<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Shopping App</a>
    </div>
    <ul class="nav navbar-nav">
      <li class=""><a href="/">Home</a></li>
      <li><a href="/cart">Cart</a></li>
      <li><a href="/admin">Admin Area</a></li>
      <li><a target="_blank" href="https://yogesh-rathod-nodejs-app.herokuapp.com/">A Small User Management System</a></li>
    </ul>
  </div>
</nav>